.author-img {
	background-repeat: no-repeat;
	background-position: center;
	background-clip: border-box;
	border-radius: 30px 15px;
  width: 150px;
  height: 150px;
	min-width: 150px;
	min-height: 150px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	}


.author-wrapper {
	display:flex;
	flex-direction:row;
	flex-wrap: nowrap;
	align-items:stretch;
}

.author-top h2 {
	padding-top: 15px;
	padding-bottom: 5px;
	font-variant:small-caps;
	font-size: 22pt;
}

.author-left {
	padding-right: 15px;
	min-width: 150px;
	min-height: 150px;
}

.author-right {
	display:flex;
	flex-direction:column;
	width: 100%;
}

.author-about{
	flex-grow: 2; /* fill remaining space */
}

.author-social{
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	width: 100%;
	font-size: 40px;
	color: #333;
	line-height: inherit;
}

.author-social-item{
	margin-right: 10px;
	margin-bottom: 5px;
}

/* 1260px 960-Grid-System. This is used for screens smaller than 540px */
@media only screen and (max-width: 540px){
	.author-img {
		min-width: 100px;
		min-height: 100px;
		width: 100px;
	  height: 100px;
		background-size: 100px;
	}

	.author-left {
		min-width: 100px;
		min-height: 100px;
	}

	.author-about{
		display: none;
	}

	.author-social{
		font-size: 50px;

	}
}
