<!-- Additional Stylesheets -->
<link rel="stylesheet" href="{{ site.url }}/css/header.css" type="text/css" />
<header>
	<div id="searchbox" style="display:none"><gcse:search></gcse:search></div>
	<ul id="header-nav">
		<li><a href="/">Posts</a></li>
		<!--<li><a href="/projects">Projects</a></li>-->
		<li><a href="#">Projects</a></li>
		<li id="header-logo">V</li>
		<!--<li><a href="/about">About</a></li>-->
		<li><a href="/about/">About</a></li>
		<li><a href="" onclick="if(searchbox.style.display == 'none'){searchbox.style.display = 'inline'} else{searchbox.style.display = 'none'}; return false;">Search</a></li>
	</ul>
	<div id="header-separator"></div>
</header>
